### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
build

# WebStorm
.idea/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/launch.json

# Environment
.env

# Development
/dev-server