.form {
    width: 100%;
}

.input {
    width: 100%;

    + .input {
        margin-top: 24px;
    }
}

.alert {
    float: right;
    color: var(--color-danger-red);
}

.submitWrapper {
    margin-top: 32px;
    display: flex;
    justify-content: center;
}
